.dev-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}
.dev-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-perfil{
  overflow: hidden;
  width: 7rem;
  height: 7rem;
  max-width: 7rem;
  max-height: 7rem;
  border-radius: 5000000000000rem;
  object-fit: cover;
}