.background{
  display: flex;
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000060;
  pointer-events:visibleFill;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.windowAlert{
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  width: 80vw;
  height: 60vh;
  background-color: whitesmoke;
  padding: 3rem;
}

.closeWindow{
  position: absolute;
  display: flex;
  left: 2rem;
  top: 2rem;
  cursor: pointer;
  color: #7B7D7D ;
}